<div class="layout-header-container">
  <div>
    APEX
  </div>
  <nav>
    @for (item of navigationLinks(); track $index) {
      <a [routerLink]="item.path">{{ item.label }}</a>
    }
  </nav>
  <div class="access-controls">
    @let n = name();
    @if (n) {
      <button nz-button (click)="openUserMenu()">{{ n }}</button>
    } @else {
      <a nz-button routerLink="/login">Iniciar sesión</a>
      <button nz-button nzType="primary" routerLink="/registrarse">Registrarse</button>
    }
  </div>
</div>