.layout-header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 2rem;
  font-weight: 500;
  align-items: center;
  a {
    color: inherit;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .access-controls {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}