:host {
  display: flex;
  flex-direction: column;
}

.layout-header-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  // font-size: 1rem;
  font-weight: 600;
  align-items: center;
  color: var(--app-palette-header-color);

  .logo {
    display: flex;
    align-items: flex-start;
    column-gap: .1rem;
    color: var(--app-palette-primary-color);
    img {
      height: 2rem;
    }
  }

  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    // color: rgb(184, 184, 182);
    gap: 1rem;
    a {
      text-decoration: none;
      display: flex;
      column-gap: .3rem;
      color: inherit;
      // &:hover {
      //   text-decoration: underline;
      // }
    }
  }

  .access {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
}
