<header>
  <h1>
    <a routerLink="/">APEX</a>
  </h1>
</header>
<main>
  <form nz-form nzLayout="vertical" [formGroup]="formGroup">
    <div class="form-header">
      <h2>Registro de cuenta</h2>
    </div>

    <div class="form-inputs">
      <!-- Información de la cuenta -->
      <section class="form-section-account">
        <h3>Cuenta</h3>
        <div>
          <nz-form-item>
            <nz-form-label [nzRequired]="true">Correo electrónico</nz-form-label>
            <nz-form-control nzErrorTip="Por favor ingrese un correo electrónico válido">
              <input nz-input formControlName="email" type="email" autocomplete="email" />
            </nz-form-control>
          </nz-form-item>
          <div style="display: flex; column-gap: 1rem;">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Usuario</nz-form-label>
              <nz-form-control nzErrorTip="Por favor ingrese un nombre de usuario válido">
                <input nz-input formControlName="username" type="text" autocomplete="username" />
              </nz-form-control>
            </nz-form-item>

            <!-- Teléfono celular -->
            <nz-form-item style="width: 17rem;">
              <nz-form-label [nzRequired]="true">Teléfono móvil</nz-form-label>
              <nz-form-control>
                <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                  <ng-template #addOnBeforeTemplate>
                    <nz-select class="phone-select" style="width: 7rem;" nzShowSearch>
                      @for (item of countriesOptions(); track $index) {
                        <nz-option [nzLabel]="item.name" [nzValue]="item.phoneCode"/>
                      }
                    </nz-select>
                  </ng-template>
                  <input id="'phoneNumber'" nz-input autocomplete="tel" />
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>
          </div>

          <div style="display: grid; grid-template-columns: 1fr 1fr; column-gap: 1rem;">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Contraseña</nz-form-label>
              <nz-form-control>
                <input nz-input type="password" autocomplete="new-password" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Confirmar contraseña</nz-form-label>
              <nz-form-control>
                <input nz-input type="password" autocomplete="new-password" />
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>
      </section>

      <!-- Información personal -->
      <section class="form-section-personal">
        <h3>Información personal</h3>
        <div>
          <!-- Nombres y apellidos -->
          <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Nombres</nz-form-label>
              <nz-form-control nzErrorTip="Por favor ingrese su nombre completo">
                <input nz-input type="text" autocomplete="given-name" class="capitalize" />
              </nz-form-control>
            </nz-form-item>
  
  
            <nz-form-item>
              <nz-form-label [nzRequired]="true">Apellido</nz-form-label>
              <nz-form-control nzErrorTip="Por favor ingrese sus apellidos">
                <input nz-input type="text" autocomplete="family-name" class="capitalize" />
              </nz-form-control>
            </nz-form-item>
          </div>

          <nz-form-item>
            <nz-form-label>Alias / Nombre como quieras que te llamen ( Opcional )</nz-form-label>
            <nz-form-control nzErrorTip="Por favor ingrese un alias válido">
              <input nz-input type="text" autocomplete="nickname" class="capitalize" />
            </nz-form-control>
          </nz-form-item>


          <div style="display: flex; flex-wrap: wrap; column-gap: 1rem;">
            <nz-form-item style="width: 18rem;">
              <nz-form-label [nzRequired]="true">Nacionalidad / País de origen</nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="nationality">
                    @for (item of nationalityOptions(); track $index) {
                      <nz-option [nzLabel]="item.name" [nzValue]="item.code" />
                    }
                  </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 13rem;">
              <nz-form-label [nzRequired]="true">Fecha de nacimiento</nz-form-label>
              <nz-form-control>
                <!-- <input nz-input type="text" autocomplete="bday" /> -->
                <nz-date-picker style="width: 100%;" nzFormat="dd/MM/yyyy" nzPlaceHolder="Selecciona una fecha"></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 7rem;">
              <nz-form-label [nzRequired]="true">Genero</nz-form-label>
              <nz-form-control>
                <nz-select>
                  <nz-option nzLabel="Masculino" nzValue="M" />
                  <nz-option nzLabel="Femenino" nzValue="F" />
                </nz-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 6.6rem;">
              <nz-form-label [nzRequired]="true">Altura (cm)</nz-form-label>
              <nz-form-control>
                <input nz-input type="text" autocomplete="off" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 6.5rem;">
              <nz-form-label [nzRequired]="true">Peso (kg)</nz-form-label>
              <nz-form-control>
                <input nz-input type="text" autocomplete="off" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </section>

      <section>
        <h3>Lugar de residencia</h3>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 1rem;">
            <nz-form-item>
              <nz-form-label [nzRequired]="true">País</nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="country" >
                    @for (item of countriesOptions(); track $index) {
                      <nz-option [nzLabel]="item.name" [nzValue]="item.code" />
                    }
                  </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzRequired]="true">Departamento</nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch formControlName="state" >
                    @for (item of statesOptions(); track $index) {
                      <nz-option [nzLabel]="item.name" [nzValue]="item.id" />
                    }
                  </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label [nzRequired]="true">Ciudad</nz-form-label>
                <nz-form-control>
                  <nz-select nzShowSearch formArrayName="city" >
                    @for (item of citiesOptions(); track $index) {
                      <nz-option [nzLabel]="item.name" [nzValue]="item.id" />
                    }
                  </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
      </section>
    </div>
    <div class="form-actions"> 
      <button nz-button nzType="primary">Crear cuenta</button>
      <button nz-button nzType="link" routerLink="/login">Iniciar sesión</button>
    </div>
  </form>
</main>
<footer>
  <div> &copy; 2025 APEX. Todos los derechos reservados. </div>
</footer>